body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

input {
  width: 75%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  background: #eee;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
